ion-tab-button {
    background-color: #D2E0FB;
    color: black;
    width: 100%;
}

ion-tab-bar {
    background-color: #D2E0FB;
    color: black;

}

ion-menu-toggle {
    background-color: #D2E0FB;
}

ion-toolbar {
    background: #D2E0FB;

}